body{
    background-color: black;
}

main{
    font-family: Segoe UI;
    margin: 0;
    padding: 0;
    background: black;
    font-family: 'Roboto', Arial;
  }
  
root:scrollbar{
  width: 10px;
}
*{
    
    margin: 0;
    padding: 0;
    text-decoration: none;
}
/*  -----------   MAİN   ----------- */
/*  İNFO CARD  */

.info-card{
    background-image: url("https://mars.nasa.gov/assets/red_planet_bg.jpg");
    width: 1300px;
    height: 450px;
    margin: 0 auto;
    margin-bottom: 50PX;

    /* background: #f9d8ea; */
    border-radius: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-text-ctn{
    width: 500px;
    height: 300px;
    /* background: #eee; */
    margin-left: 100px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info-head{
    width: 100%;
    height: auto;   
}
.info-head h1{
    font-size: 50px;
    font-weight: bold;
    color: rgb(249, 240, 240);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.info-head h3{
    font-size: 20px;
    font-weight: bold;
    color: rgb(249, 240, 240);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.info-text{
    width: 100%;
    height: auto;
}
.info-text p{
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
}
.info-buton{
    text-align:left;
    
}
.info-buton button{
    border: none;
    padding: 15px 47px;
    border-radius: 5px;
    background: #cba137;
    color: white;
    font-weight: bold;
    font-size: 15px;

    transition: 0.4s;
}

.info-image{
    width: 400px;
    height: 400px;
    margin-right: 200px;
}
.info-image img{
    width: 400px;
    height: 400px;
}

/*  CATEGORİES  */

.categories-container{
    width: 1300px;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 50px;

    border-radius: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.categorie-name{
    width: 120px;
    height: 100%;

    border-radius: 20px;
    background: #222121;

    display: flex;
    justify-content: center;
    align-items: center;
}

.categorie-name h1{
    color: white;
    transform: rotate(-90deg);
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.categories{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
}
.categorie-grid{
    display: flex;
    gap: 40px;
}

.categorie-col{
    border-radius: 20px;
    background: #eee;
    flex-grow: 1;
    height: 180px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#col-one{
    background: #05070a;
}
#col-two{
    background: #05070a;
}
#col-tree{
    background: #05070a;
}
#col-four{
    background: #05070a;
}

.categorie-image-wrapper{
    width: 120px;
    height: 120px;
}
.categorie-image-wrapper img{
    width: 120px;
    height: 120px;
}
.categories-text-ctn{
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ctg-head h2{
    font-size: 30px;
    color: white;
}
.ctg-text p{
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    line-height: 1.6;
}